extends layout

block content
  h1#myTitle= title
  p Colt Tyler Wilson
  canvas#myCanvas(width='650', height='450')
  canvas#myCanvas2(width='650', height='450')
  script(type='text/javascript', src='javascripts/draw.js')
  script(type='text/javascript', src='javascripts/coltways.js')